@model List<Management.Models.ProjectAssignUser>

<div class="modal fade" id="commentsModal1" tabindex="-1" aria-labelledby="commentsModalLabel1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="commentsModalLabel1" style="color:black; font-weight:bold">
					<i class="fa fa-address-card text-warning"></i> Assigned Users
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				@if (Model.Any())
				{
					<div class="list-group">
						@foreach (var item in Model)
						{
							<div class="notification-item d-flex align-items-start p-3 border-bottom">
								<div class="profile-icon">
									<i class="fa fa-user-circle text-secondary fs-4"></i>
								</div>

								<div class="message-content flex-grow-1 ms-3">
									<div class="d-flex justify-content-between align-items-center">
										<span class="text-muted small">
											<a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-controller="Report" asp-action="Index" asp-route-UserId="@item.UserID">@item.UserName</a>
										</span>
										<span class="badge bg-info text-dark">@item.Designation</span>
									</div>
								</div>
							</div>
						}
					</div>
				}
				else
				{
					<div class="text-center text-muted p-4">
						<i class="fa fa-user-slash fa-3x"></i>
						<h5 class="mt-2"><i class="fa fa-frown-o"></i> No users assigned yet.</h5>
					</div>
				}
			</div>
		</div>
	</div>
</div>
