@model Management.Models.Tasklist

<div class="container mt-4">
    <h1>Delete Project Task</h1>
    <p>Are you sure you want to delete this Project Task?</p>
    <dl class="row">
        <dt class="col-sm-3">Task Name</dt>
        <dd class="col-sm-9">@Model.TaskName</dd>

        <dt class="col-sm-3">Create at</dt>
        <dd class="col-sm-9">@Model.CreatedDate</dd>
    </dl>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="TaskID" />
		<button type="submit" class="btn btn-danger">Confirmed Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
