@model Management.Models.Dept

<div class="container mt-4">
	<h1 class="mb-4">Create Department</h1>
	<form asp-action="Create" method="post" class="needs-validation" novalidate>
		<div class="row">
			<div class="col-md-6 mb-3">
				<label asp-for="DeptName" class="form-label">Department Name</label>
				<input asp-for="DeptName" class="form-control" required />
				<span asp-validation-for="DeptName" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 mt-auto mb-3">
				<button type="submit" class="btn btn-success">Create</button>
				<a asp-action="Index" class="btn btn-secondary">Cancel</a>
			</div>
		</div>
	</form>
</div>
