<div class="container mt-5">
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4">
		<!-- Card 1 -->
		<div class="col">
			<div class="card text-center h-100">
				<div class="card-body">
					<a class="dropdown-item" asp-area="" class="btn btn-link card-link" asp-controller="Project" asp-action="Index">
						<i class="fa fa-folder-open"></i> Projects
					</a>
				</div>
			</div>
		</div>
		<!-- Card 2 -->
		<div class="col">
			<div class="card text-center h-100">
				<div class="card-body">
					<a class="dropdown-item" asp-area="" class="btn btn-link card-link" asp-controller="User" asp-action="Index">
						<i class="fa fa-user"></i> Users
					</a>
				</div>
			</div>
		</div>
		<!-- Card 3 -->
		<div class="col">
			<div class="card text-center h-100">
				<div class="card-body">
					<a class="dropdown-item" asp-area="" class="btn btn-link card-link" asp-controller="Report" asp-action="Index">
						<i class="fa fa-folder"></i> View Reports
					</a>
				</div>
			</div>
		</div>
		<!-- Card 4 -->
		<div class="col">
			<div class="card text-center h-100">
				<div class="card-body">
					<a class="dropdown-item" asp-area="Manager" class="btn btn-link card-link" asp-controller="Work" asp-action="Index">
						<i class="fa fa-plus"></i> Submit New Report
					</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card text-center h-100">
				<div class="card-body">
					<a class="dropdown-item" asp-area="Manager" class="btn btn-link card-link" asp-controller="MyProject" asp-action="Index">
						<i class="fa fa-keyboard-o"></i> My Projects
					</a>
				</div>
			</div>
		</div>
	</div>
</div>