@model Management.Models.Users

<div class="container mt-4">
	<div class="text-center">
		<h2 class="my-0 bg-light">Create User</h2>
	</div>
	<br />
	<form asp-action="Create" method="post" class="needs-validation" novalidate>
		<div class="row">
			<div class="col-md-6 mb-3">
				<label asp-for="Username" class="form-label">Full Name</label>
				<input asp-for="Username" class="form-control" required />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<div class="col-md-6 mb-3">
				<label asp-for="PasswordHash" class="form-label">Password</label>
				<input asp-for="PasswordHash" type="password" class="form-control" required />
				<span asp-validation-for="PasswordHash" class="text-danger"></span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 mb-3">
				<label asp-for="Role" class="form-label">Role</label>
				<select asp-for="Role" class="form-select">
					<option value="Manager">Manager</option>
					<option value="User" selected>User</option>
				</select>
				<span asp-validation-for="Role" class="text-danger"></span>
			</div>
			<div class="col-md-6 mb-3">
				<label class="control-label" asp-for="DesiId">Designation</label>
				<select asp-for="DesiId" class="form-control" asp-items="@ViewBag.Desis">
					<option value="">Please Select</option>
				</select>
				<span asp-validation-for="DesiId" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 mb-3">
				<label asp-for="Email" class="form-label">Email</label>
				<input asp-for="Email" type="email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="col-md-6">
				<label asp-for="Mobile" class="form-label"></label>
				<input asp-for="Mobile" class="form-control" />
				<span asp-validation-for="Mobile" class="text-danger"></span>
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-3 mt-auto mb-3">
				<input asp-for="permission" type="checkbox" class="form-check-input" />
				<label asp-for="permission" class="form-check-label">Project Creation</label>
			</div>
			<div class="col-md-3 mt-auto mb-3">
				<input asp-for="IsActive" type="checkbox" class="form-check-input" checked />
				<label asp-for="IsActive" class="form-check-label">Is Active</label>
			</div>
			<div class="col-md-3 mt-auto mb-3">
				<button type="submit" class="btn btn-success">Create</button>
				<a asp-action="Index" class="btn btn-secondary">Cancel</a>
			</div>
		</div>
	</form>
</div>
