<div class="container mt-5">
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
		<!-- Card 1 -->
		<div class="col">
			<div class="card text-center h-100">
				<div class="card-body">
					<a class="dropdown-item" asp-area="" class="btn btn-link card-link" asp-controller="Project" asp-action="Index">
						<i class="fa fa-folder-open"></i> Projects
					</a>
				</div>
			</div>
		</div>
		<!-- Card 2 -->
		<div class="col">
			<div class="card text-center h-100">
				<div class="card-body">
					<a class="dropdown-item" asp-area="" class="btn btn-link card-link" asp-controller="User" asp-action="Index">
						<i class="fa fa-user"></i> Users
					</a>
				</div>
			</div>
		</div>
		<!-- Card 6 -->
		<div class="col">
			<div class="card text-center h-100">
				<div class="card-body">
					<a class="dropdown-item" asp-area="" class="btn btn-link card-link" asp-controller="Report" asp-action="Index">
						<i class="fa fa-folder"></i> View Reports
					</a>
				</div>
			</div>
		</div>
		<!-- Card 3 -->
		<div class="col">
			<div class="card text-center h-100">
				<div class="card-body">
					<a class="dropdown-item" asp-area="Admin" class="btn btn-link card-link" asp-controller="Dept" asp-action="Index">
						<i class="fa fa-sitemap"></i> Department
					</a>
				</div>
			</div>
		</div>
		<!-- Card 4 -->
		<div class="col">
			<div class="card text-center h-100">
				<div class="card-body">
					<a class="dropdown-item" asp-area="Admin" class="btn btn-link card-link" asp-controller="Desi" asp-action="Index">
						<i class="fa fa-bullseye"></i> Designations
					</a>
				</div>
			</div>
		</div>
		<!-- Card 5 -->
		<div class="col">
			<div class="card text-center h-100">
				<div class="card-body">
					<a class="dropdown-item" asp-area="Admin" class="btn btn-link card-link" asp-controller="Task" asp-action="Index">

						<i class="fa fa-tasks"></i> Tasks
					</a>
				</div>
			</div>
		</div>
	</div>
</div>